/* 确保视频和图像容器样式 */
#video, #resultImage {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover !important;
    border: 1px solid #ccc !important;
    margin: auto !important;
}

/* 居中容器内的所有内容，增加更具体的选择器 */
.body-custom .container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

/* 调整按钮和输入框的居中对齐，增加 !important 确保样式应用 */
.body-custom .col-12 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

/* 增强按钮视觉反馈 */
.body-custom button, .body-custom #uploadTrigger {
    cursor: pointer !important;
    margin-top: 20px !important;
    width: 80% !important; /* 控制宽度以适应设计 */
}

@media (max-width: 768px) {
    .body-custom button {
        padding: 15px 30px !important;  /* 增大按钮的填充 */
        font-size: 18px !important;  /* 增大字体大小 */
    }

    .body-custom .navbar-nav {
        font-size: 16px !important; /* 增大导航链接的字体大小 */
    }
}

